@font-face {
  font-family: "HelveticaNeue";
  src: url("./fonts/HelveticaNeue-Roman.otf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --font-family: "HelveticaNeue", sans-serif;
}
body {
  background: #373a3c;
}
.container {
  max-width: 1130px;
  padding: 0;
  margin: 0 auto;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  align-items: center;
}
li {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.5);
}
.xbox {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li input {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 209px;
  height: 38px;
  background: #fff;
  padding-left: 15px;
}
.hero {
  background-image: url(./image/main.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 648px;
  position: relative;
}
.hero .content {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  color: #fff;
  position: absolute;
  left: 1120px;
  top: 206px;
}
.content span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}
.hero button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  color: #fff;
  width: 136px;
  height: 38px;
  background-color: #8dd83d;
  border-radius: 3px;
  border: none;
  margin-top: 134px;
}
.hero .grey {
  background-color: #5b5f61;
}
.two {
  margin-top: 63px;
}
.content-two {
  text-align: center;
}
.two .top h2 {
  margin-top: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  color: #fff;
}
.two .top h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  color: #fff;
}
.cards {
  margin-top: 42px;
  display: flex;
  justify-content: center;
  gap: 64px;
}
.card {
  text-align: left;
  /* padding-left: 22px; */
  background-color: #fff;
  border: 1px solid #8dd83d;
}
.card .text {
  margin: 20px;
}
.card .text h3 {
  margin-bottom: 13px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #435766;
}
.card .text p {
  margin-bottom: 38px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #435766;
}
.card .text button {
  width: 278px;
  height: 60px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  color: #fff;
  background: #8dd83d;
  border: none;
}
